Repository kaiohenricunha/metrics-aggregator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, docker, go, prometheus

.github/labeler.yml:

docs:
  - "**/*.md"

ci:
  - ".github/workflows/**"

docker:
  - "Dockerfile"
  - "docker-compose.yml"

go:
  - "**/*.go"

prometheus:
  - "prometheus*.yml"

fix(docker-compose): pin Prometheus image to v3.3.0 (ENH-09)
  docker-compose.yaml
Labels: none

fix(main): skip cache store on context cancellation during fetch (ENH-07)
  main.go
  main_test.go
Labels: go

fix(main): sanitize X-Request-Id header length and non-printable characters (BUG-04)
  main.go
  main_test.go
Labels: go

test(main): add edge case tests for duration and int env parsers (ENH-06)
  main_test.go
Labels: go

fix(aggregator): don't count oversized body as scrape error (BUG-02)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

test(aggregator): add HTTPS endpoint test coverage (ENH-05)
  pkg/aggregator/aggregator_test.go
Labels: go

fix(aggregator): don't count oversized body as scrape error (BUG-02)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

fix(e2e): add checksum verification for downloaded binaries (SEC-03)
  test/e2e/lib.sh
Labels: none

feat(main): add METRICS_BIND_ADDRESS for listener restriction (SEC-07)
  main.go
  main_test.go
Labels: go

docs(claude): update self-instrumentation metrics list and env vars table
  CLAUDE.md
Labels: docs

fix(docker-compose): pin Prometheus image to v3.3.0 (ENH-09)
  docker-compose.yaml
Labels: none

feat(main): add cache hit/miss metrics (ENH-01)
  main.go
  main_test.go
Labels: go

chore(dev): add container-rebuild hook and claude make targets
  .claude/hooks/container-rebuild-reminder.sh
  .claude/settings.json
  Makefile
Labels: none

test(main): add edge case tests for duration and int env parsers (ENH-06)
  main_test.go
Labels: go

fix(main): validate METRICS_AGGREGATOR_PORT range (SEC-06)
  main.go
  main_test.go
Labels: go

docs: add audit findings implementation spec
  docs/audit-findings-spec.md
Labels: docs

fix(aggregator): block link-local SSRF in legacy mode, deprecate legacy security mode (SEC-01)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat(main): add stale-cache-on-error option (ENH-04)
  main.go
  main_test.go
Labels: go

fix(aggregator): remove error details from JSON parse fallback log (SEC-05)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat(main): add build info metric with version and commit SHA (ENH-02)
  .github/workflows/docker-publish.yml
  Dockerfile
  main.go
  main_test.go
Labels: ci, docker, go

fix(aggregator): fix sampleLine regex to allow escaped braces in label values (BUG-03)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

fix(e2e): tighten promtool lint filter to avoid false negatives (ENH-08)
  test/e2e/run.sh
Labels: none

feat(aggregator): add configurable TLS for HTTPS scrape targets (SEC-02)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/tls.go
Labels: go

fix(dockerfile): pin base images to digest for reproducibility (SEC-04)
  Dockerfile
Labels: docker

fix(main): skip cache store on context cancellation during fetch (ENH-07)
  main.go
  main_test.go
Labels: go

fix(main): sanitize X-Request-Id header length and non-printable characters (BUG-04)
  main.go
  main_test.go
Labels: go

fix(review): address all 9 Copilot PR review comments
  .claude/settings.json
  Dockerfile
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/tls.go
  test/e2e/lib.sh
Labels: docker, go

fix(e2e): update promtool lint filter for v2.53.0 output format
  test/e2e/run.sh
Labels: none

fix(review): address 2 new Copilot comments
  main_test.go
  pkg/aggregator/aggregator.go
Labels: go

docs: note Istio 1.31 native multi-target metrics merging
  README.md
Labels: docs

chore(deps): bump go.opentelemetry.io/otel family to v1.46.0
  go.mod
  go.sum
  pkg/tracing/tracing.go
Labels: go

chore(deps): bump go.opentelemetry.io/otel family to v1.46.0 (#93)
  go.mod
  go.sum
  pkg/tracing/tracing.go
Labels: go

chore(deps): bump Go toolchain to 1.27.1
  .github/copilot-instructions.md
  .github/workflows/lint.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  go.mod
Labels: docs, ci, docker

chore(deps): bump Go toolchain to 1.27.1 (#95)
  .github/copilot-instructions.md
  .github/workflows/lint.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  go.mod
Labels: docs, ci, docker
