Repository kaiohenricunha/metrics-aggregator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, docker, go, prometheus

chore: pre-launch housekeeping
  CONTRIBUTING.md
  README.md
  artifacthub-repo.yml
  metrics-aggregator
Labels: docs

security: pin GitHub Actions to full-length commit SHAs
  .github/workflows/go.yml
Labels: ci

Update action versions in docker-publish workflow
  .github/workflows/docker-publish.yml
Labels: ci

Update GitHub Actions to use specific commit SHA versions
  .github/workflows/release.yml
Labels: ci

Update GitHub Actions versions in lint.yml
  .github/workflows/lint.yml
Labels: ci

Update checkout action version in e2e workflow
  .github/workflows/e2e.yml
Labels: ci

Update GitHub Actions workflow for test coverage
  .github/workflows/test-coverage.yml
Labels: ci

Update semantic-release.yml with action version change
  .github/workflows/semantic-release.yml
Labels: ci

Update checkout action to specific commit hash
  .github/workflows/summary.yml
Labels: ci

security: pin actions in compose-smoke.yml to full SHA
  .github/workflows/compose-smoke.yml
Labels: ci

security: pin actions in stale.yml to full SHA
  .github/workflows/stale.yml
Labels: ci

security: pin upload-artifact in e2e.yml to full SHA
  .github/workflows/e2e.yml
Labels: ci

security: pin upload-artifact and codecov in test-coverage.yml to full SHA
  .github/workflows/test-coverage.yml
Labels: ci

fix: correct steps indentation in go.yml
  .github/workflows/go.yml
Labels: ci

ci: fix remaining unpinned actions and stale.yml indentation
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
Labels: ci

ci: replace golang/govulncheck-action with go run step
  .github/workflows/lint.yml
  workflow_consistency_test.go
Labels: ci, go

ci: pin govulncheck to v1.1.4 and tighten consistency test
  .github/workflows/lint.yml
  workflow_consistency_test.go
Labels: ci, go

Potential fix for pull request finding
  .github/workflows/lint.yml
Labels: ci

chore: add Artifact Hub repository ID for verified publisher status
  artifacthub-repo.yml
Labels: none

docs: add Artifact Hub badge to README
  README.md
Labels: docs

ci: explicitly tag latest on default branch and semver tags on releases
  .github/workflows/docker-publish.yml
Labels: ci

ci: add OCI and Artifact Hub labels to Docker image
  Dockerfile
Labels: docker

retrigger build step
  README.md
Labels: docs

test(aggregator): add HTTPS endpoint test coverage (ENH-05)
  pkg/aggregator/aggregator_test.go
Labels: go

fix(main): validate METRICS_AGGREGATOR_PORT range (SEC-06)
  main.go
  main_test.go
Labels: go

fix(e2e): add checksum verification for downloaded binaries (SEC-03)
  test/e2e/lib.sh
Labels: none

docs(claude): update self-instrumentation metrics list and env vars table
  CLAUDE.md
Labels: docs

fix(aggregator): block link-local SSRF in legacy mode, deprecate legacy security mode (SEC-01)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

chore(dev): add container-rebuild hook and claude make targets
  .claude/hooks/container-rebuild-reminder.sh
  .claude/settings.json
  Makefile
Labels: none

fix(aggregator): fix sampleLine regex to allow escaped braces in label values (BUG-03)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat(main): add cache hit/miss metrics (ENH-01)
  main.go
  main_test.go
Labels: go

fix(aggregator): remove error details from JSON parse fallback log (SEC-05)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat(aggregator): add configurable TLS for HTTPS scrape targets (SEC-02)
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/tls.go
Labels: go

fix(histogram): unify mutex for counts and sum, add binary search observe (BUG-01, ENH-03)
  pkg/aggregator/histogram.go
  pkg/aggregator/histogram_test.go
Labels: go

fix(e2e): tighten promtool lint filter to avoid false negatives (ENH-08)
  test/e2e/run.sh
Labels: none

feat(main): add METRICS_BIND_ADDRESS for listener restriction (SEC-07)
  main.go
  main_test.go
Labels: go

feat(main): add build info metric with version and commit SHA (ENH-02)
  .github/workflows/docker-publish.yml
  Dockerfile
  main.go
  main_test.go
Labels: ci, docker, go

fix(dockerfile): pin base images to digest for reproducibility (SEC-04)
  Dockerfile
Labels: docker

feat(main): add stale-cache-on-error option (ENH-04)
  main.go
  main_test.go
Labels: go

docs: add audit findings implementation spec
  docs/audit-findings-spec.md
Labels: docs

.github/labeler.yml:

docs:
  - "**/*.md"

ci:
  - ".github/workflows/**"

docker:
  - "Dockerfile"
  - "docker-compose.yml"

go:
  - "**/*.go"

prometheus:
  - "prometheus*.yml"
