Repository kaiohenricunha/metrics-aggregator, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, docker, go, prometheus

Update README.md
  README.md
Labels: docs

docs: add contributor and assistant guidance
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Labels: docs

chore(devx): add repo-local developer tooling
  .claude/commands/check.md
  .claude/commands/cover.md
  .claude/commands/lint.md
  .claude/commands/smoke.md
  .claude/commands/test-one.md
  .claude/settings.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
Labels: docs

fix: resolve revive lint warnings for package comments
  main.go
  pkg/aggregator/aggregator.go
Labels: go

refactor: introduce Aggregator struct to replace global state
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

refactor: use Aggregator struct in main.go, remove global wrappers
  main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat: add graceful shutdown with SIGTERM/SIGINT handling
  main.go
  main_test.go
Labels: go

feat: add request correlation, request/error counters, and structured logging
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  test/e2e/run.sh
Labels: go

refactor: pass context to AggregateMetrics for request-scoped logging
  main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

docs: update documentation for new architecture and observability
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Labels: docs

chore(devx): update Go 1.26 toolchain, Makefile e2e targets, and CI improvements
  .claude/commands/check.md
  .claude/commands/cover.md
  .claude/commands/lint.md
  .github/workflows/compose-smoke.yml
  .github/workflows/go.yml
  .gitignore
  Dockerfile
  Makefile
  go.mod
Labels: docs, ci, docker

ci(e2e): add kind-based K8s E2E test suite with Istio
  .github/workflows/e2e.yml
  test/e2e/istio/observer-prometheus-istio.yaml
  test/e2e/istio/peer-authentication.yaml
  test/e2e/istio/sidecar-pod-istio.yaml
  test/e2e/lib.sh
  test/e2e/manifests/aggregator-service.yaml
  test/e2e/manifests/app-metrics.yaml
  test/e2e/manifests/namespace.yaml
  test/e2e/manifests/observer-prometheus-config.yaml
  test/e2e/manifests/observer-prometheus.yaml
  test/e2e/manifests/sidecar-pod-partial.yaml
  test/e2e/manifests/sidecar-pod.yaml
Labels: ci

feat(security): harden scraping and request handling
  go.mod
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

chore(runtime): enforce non-root and pod security context
  Dockerfile
  security_artifacts_test.go
  test/e2e/istio/sidecar-pod-istio.yaml
  test/e2e/manifests/sidecar-pod-partial.yaml
  test/e2e/manifests/sidecar-pod.yaml
Labels: docker, go

ci(security): gate releases on successful tag publish
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .goreleaser.yml
  workflow_consistency_test.go
Labels: ci, go

docs(security): add policy and secure config guidance
  README.md
  SECURITY.md
  security_docs_test.go
Labels: docs, go

fix(pr): address check failures and review findings
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  security_artifacts_test.go
  test/e2e/run.sh
  workflow_consistency_test.go
Labels: ci, go

fix: precise origin_container key check and HTTP-level request counter
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

fix(ci): repair Docker publish Trivy scan and SARIF upload
  .github/workflows/docker-publish.yml
Labels: ci

fix(ci): bypass broken trivy-action install script
  .github/workflows/docker-publish.yml
Labels: ci

fix(ci): replace broken Trivy binary install with Docker-based scan
  .github/workflows/docker-publish.yml
Labels: ci

fix(ci): address PR review — pin digest, fix namespace, run as user
  .github/workflows/docker-publish.yml
Labels: ci

fix(ci): mount writable cache dir for Trivy and fix deprecated flag
  .github/workflows/docker-publish.yml
Labels: ci

fix(ci): pre-create Trivy cache dir to ensure runner ownership
  .github/workflows/docker-publish.yml
Labels: ci

feat(e2e): prove Istio single-port limitation and metrics merging
  test/e2e/istio/baseline-pod-no-aggregator.yaml
  test/e2e/istio/observer-sd-prometheus-config.yaml
  test/e2e/istio/observer-sd-prometheus.yaml
  test/e2e/istio/prometheus-rbac.yaml
  test/e2e/istio/sidecar-pod-istio.yaml
  test/e2e/run.sh
Labels: none

fix(e2e): move sidecar.istio.io/inject from labels to annotations
  test/e2e/istio/observer-prometheus-istio.yaml
  test/e2e/istio/observer-sd-prometheus.yaml
Labels: none

chore: trim and simplify codebase
  CLAUDE.md
  Makefile
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  test/e2e/lib.sh
  test/e2e/run.sh
Labels: docs, go

chore: add working style and verification discipline to CLAUDE.md
  .claude/settings.json
  CLAUDE.md
Labels: docs

chore(deps): bump GitHub Actions dependencies
  .github/workflows/compose-smoke.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e.yml
  .github/workflows/test-coverage.yml
Labels: ci

chore: add /vulncheck and /e2e commands, update docs and examples
  .claude/commands/check.md
  .claude/commands/e2e.md
  .claude/commands/lint.md
  .claude/commands/vulncheck.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
  SECURITY.md
  examples/README.md
  examples/basic-pod.yaml
  examples/deployment.yaml
  examples/docker-compose/README.md
  examples/docker-compose/docker-compose.yaml
  examples/docker-compose/metrics/app-a.txt
  examples/docker-compose/metrics/app-b.txt
  examples/docker-compose/nginx.conf
  examples/helm-integration/README.md
  examples/helm-integration/templates/_metrics-aggregator.tpl
  examples/helm-integration/templates/deployment.yaml
  examples/helm-integration/templates/pod-monitor.yaml
  examples/helm-integration/values.yaml
  examples/kustomize/README.md
  examples/kustomize/base/deployment.yaml
  examples/kustomize/base/kustomization.yaml
  examples/kustomize/overlays/with-aggregator/kustomization.yaml
  examples/kustomize/overlays/with-aggregator/sidecar-patch.yaml
  examples/pod-monitor.yaml
  examples/service-discovery.yaml
Labels: docs

feat: add hand-crafted histogram primitive with Prometheus exposition format
  pkg/aggregator/histogram.go
  pkg/aggregator/histogram_test.go
Labels: go

feat!: add per-endpoint scrape_errors_total counter and convert scrape_duration_seconds from gauge to histogram
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  test/e2e/run.sh
Labels: go

feat: add http_request_duration_seconds histogram for handler latency
  main.go
  main_test.go
Labels: go

feat: forward X-Request-Id and traceparent headers to scrape targets, parse traceparent for log correlation
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: go

feat: add opt-in OpenTelemetry tracing with per-endpoint scrape spans and Jaeger support
  docker-compose.yaml
  go.mod
  go.sum
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Labels: go

feat: add Prometheus alerting rules, runbook, and SLO documentation
  alerts.rules.yml
  alerts_test.go
  runbook.md
Labels: docs, go

feat: add sample Grafana dashboard for metrics-aggregator
  dashboard_test.go
  grafana-dashboard.json
Labels: go

chore: update CLAUDE.md and README.md with observability documentation
  CLAUDE.md
  README.md
Labels: docs

fix: resolve empty-block revive warning in tracing test
  pkg/tracing/tracing_test.go
Labels: go

fix: address second round of Copilot review comments
  alerts.rules.yml
  main.go
  main_test.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/histogram.go
  runbook.md
Labels: docs, go

.github/labeler.yml:

docs:
  - "**/*.md"

ci:
  - ".github/workflows/**"

docker:
  - "Dockerfile"
  - "docker-compose.yml"

go:
  - "**/*.go"

prometheus:
  - "prometheus*.yml"
